/* Define default (light) theme colors using CSS variables */
:root {
    --bg-color: #ffe0e6;  /* Light Pink */
    --text-color: #000000;
    --link-color: #78064e;  /* Purple */
    --header-bg: #ffffff;  /* White */
}

/* If the body has a class of 'dark-theme', use these colors */
body.dark-theme {
    --bg-color: #2c2c2c;  /* Black */
    --text-color: #ffffff;
    --link-color: #ff69b4;  /* Pink */
    --header-bg: #800080;  /* Purple */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: var(--header-bg);
    color: var(--text-color);
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background: var(--link-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #005fa3;
}

section {
    padding: 2em;
}

#portfolio ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

/* Toggle Switch Styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.theme-switch-wrapper span {
    margin: 0 10px;
    font-weight: bold;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input.theme-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input.theme-checkbox:checked + .slider {
    background-color: #c71585;  /* Purple */
}

input.theme-checkbox:checked + .slider:before {
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
